

#menu{
    width: 1023px;
    background-color: #00ff21;
}

#menu li{
    width: 476px;
    height:30px;
    padding-top: 10px;
    padding-left:15px;
    padding-right:15px;
    float:left;
    font-size: 18px;
}

#menu li a{
    color:#00ff90;
}
#menu li a:hover{
    color:#00ffff;
    font-size:22px;
}